A:hover {
  		color:#ff0000;
		text-decoration: none;
}

A:visited {
		color:#1589FF;
		text-decoration: none;
}

A:link {
		color:#1589FF;
		text-decoration: none;
}

A:active {
		color:#990099;
		text-decoration: none;
}

.text {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 14pt; 
		font-style: normal; 
		font-weight: normal; 
		color: #000000
		}
	
.textbold {  
		font-family: "Times New Roman", Times, sans-serif;
		font-size: 14pt; 
		font-style: normal; 
		font-weight: bold; 
		color: #000000
		}

.textpageheader {
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 22pt;
	font-style: normal;
	font-weight: bold;
	color:#000000;
		}		

.textsmall {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 12pt; 
		font-style: normal; 
		font-weight: normal; 
		color: #000000
		}
.textvsmall {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 10pt; 
		font-style: normal; 
		font-weight: normal; 
		color: #000000
		}		
.textsectionheader1 {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 12pt; 
		font-style: normal; 
		font-weight: bold; 
		color: #000000
		}
		
.textsectionheader2 {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 14pt; 
		font-style: normal; 
		font-weight: bold; 
		color:#000000;
		}
		
.textsectionheader3 {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 14pt; 
		font-style: normal; 
		font-weight: bold; 
		color:#666666;
		}		
		
.textsectionheader3grey {  
	font-family:  "Times New Roman", Times, sans-serif;
	font-size: 16pt; 
	font-style: normal; 
	font-weight: bold; 
	color:#666666;
	}
	
	.homenav {
  		font-size: 13pt; 
  		font-weight: bold; 
  		font-family: "Times New Roman", Times, sans-serif; 
  		color: #1589FF;
		text-decoration: none;
	}
		
			
	.pagenav {
  		font-size: 11pt; 
  		font-weight: bold; 
  		font-family: "Times New Roman", Times, sans-serif; 
  		color: #1589FF;
		text-decoration: none;
	}

.textcopyright {  
		font-family:  "Times New Roman", Times, sans-serif;
		font-size: 10pt; 
		font-style: normal; 
		color:#000000;
		}

#wrapper{	 /* fixed width */
	margin:0 auto;
	padding:30px;
	width:900px;
	text-align:left;
	position:relative;
	font-family:  "Times New Roman", Times, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(00,00,00);/*#000000;*/
	background-color:rgb(255,255,255);
	/*
	-moz-border-radius: 15px;	
	-moz-box-shadow: 4px 4px 6px #888;*/
	border-radius: 15px;
	-webkit-box-shadow: 4px 4px 6px #888;
	box-shadow: 4px 4px 6px #888;
}

.lowlineheight {
	margin-top: 2px;
	margin-bottom: 2px;		
}

.papertext {
	line-height: 160%;
}

.dropshadow {
	/*-moz-box-shadow: 4px 4px 6px #888;*/
	-webkit-box-shadow: 4px 4px 6px #888;
	box-shadow: 4px 4px 6px #888;
}

.papericon {
	border-radius: 8px;	
	/*-moz-box-shadow: 3px 3px 6px #888;*/
	-webkit-box-shadow: 3px 3px 6px #888;
	box-shadow: 3px 3px 6px #888;
}

body {
	background-color:rgb(35,55,135);
}

/* sajat cucc 
*/
.inlineblock {
	display:inline;
	/*background-color:blue; */
}

.align-left{
	float: left;
	width:25%;
}

.align-center{
	float: left;
	width:30%;
}

.align-right{
	float: right;
	width:40%;
}

.align-left-publ{
	float: left;
	width:40%;
}

.align-right-publ{
	float: right;
	width:60%;
	line-height: 170%;
}

.main_headline{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:black;
}

nav.main_headline {
	word-spacing: 30px;
}

section {
	float: left;
	width: 70%;
	border-right: 5px solid gray;
	border-radius: 2px;
	padding-right: 5px;
}

aside {
    float: right;
	width: 25%;
	margin: 0;
	padding: 0;
	cursor:auto;
} 

footer {
  clear: both;
  margin-bottom: 0;
  margin-top: 25px;
  padding-top: 15px;
  text-align:center;
  
}

footer li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

/*
ul {
	margin-left: 10pt;
}
*/